 <footer>
    <p>
      Copyright Katie Rodgers <%= Time.now.year %>
    </p>
    <a class="twitter-share-button"
      href="https://twitter.com/intent/tweet?text=Check%20out%20this%20great%20movie%20review%20site!https://flix.herokuapp.com">
    Tweet</a>
  </footer>